header
	.header
		a(href="#") 
			img(src="img/logo.svg", alt="TOXIN")
		nav
			ul.nav 
				li.nav-item 
					a(href="").nav-link.nav-link-active О нас
				li.nav-item 
					a(href="").nav-link Услуги
				li.nav-item 
					a(href="").nav-link Вакансии
				li.nav-item 
					a(href="").nav-link Новости
				li.nav-item 
					a(href="").nav-link Соглашения
		ul.account
			li.account-item 
				button.account-btn.account-btn-enter Войти
			li.account-item 
				button.account-btn.account-btn-registration Зарегистироваться