- var pageTitle = 'Landing page'

doctype html
html(lang="en")
	head
		title= pageTitle
		style 
		include Toxin/css/style.css
	body
	include modules/header
	h1 Pug - node template engine
	include modules/footer